In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("wfp_food_prices_gtm.csv")
df.drop(0, inplace=True)
df = df[df.market == "La Terminal"]
df["filtro"] = df.unit.map(lambda x: "KG" in x or "Pounds" in x)
df = df[df.filtro]
df.rename(columns={"price": "gtqprice"}, inplace=True)
feat = ["date", "category", "commodity", "unit", "pricetype", "gtqprice", "usdprice"]
df = df[feat]

In [14]:
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice
1,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923
2,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373
3,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669
4,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379
5,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415

In [15]:
df.shape

(8002, 7)

In [16]:
df.to_csv("precios_terminal.csv", index=False)